.bar {
  font-family: "JetBrains Mono";
  font-weight: 600;
  background-color: $mantle;
  padding-bottom: 4px;
  padding-top: 4px;

  label {
    font-size: 14px;
    padding-top: 3px;
  }

  button {
    min-width: 4px;
    min-height: 4px;
  }

  .logo {
    color: $blue;
    padding-left: 5px; 
  }

  .volume {
    * {
      color: $green; 
    }
  }

  .network {
    * {
      color: $pink;
    }
  }

  .workspaces {  
    margin-left: 5px;
    background-color: $surface0;
    border-radius: 40px;
    padding-left: 5px;
    padding-right: 5px;
    button {
      margin: 6px 0 6px;
      background-color: $subtext1;
      border-width: 1px;
      border-radius: 40px;
      padding: 3px;
      
      &.occupied {
        background-color: $mauve;
      }

      &.active {
        //border-radius: 0;
        min-width: 10px;
        background-color: $yellow;
      }
    }
  }

  .battery {
    * {
      color: $yellow;
    }
  }

  .clock {
    color: $text;
  }

  .media {
    * {
      color: $mauve;
    }
  }

  .systray {
    button {
      padding-left: 0;
      padding-right: 4px;
      -gtk-icon-shadow: none;
    }
  }
  
  .boxed {
    /* margin-left: 5px; */
    background-color: $surface0;
    border-radius: 40px;
    // This is the padding at the left/right of the box
    padding-left: 3px;
    padding-right: 3px;
  }

  .brightness {
    * {
      color: $peach;
    }
  }

  .bluetooth {
    color: $blue;
  }
}
