.dashboard {
  background-color: transparent;
  
  .dashboard_box {
  font-family: "JetBrains Mono";
  //font-weight: 600;
  margin-right: 2px;
  margin-top: 2px;
  padding: 5px;
  border-radius: 0px;
  border: solid 2px;
  border-color: mix($lavender, $surface0, 60%);
  background-color: $mantle;

  label {
    font-weight: bold;
    padding-top: 3px;
  }

  icon {
    font-size: 15px;
  }
  
  
    .volume_slider,
    .brightness_slider {
      //background-color: $surface0;
      border-radius: 40px;
      padding-left: 5px;
      padding-right: 5px;
      scale {
        min-width: 80px;
        trough {
          slider {
            border: none;
            box-shadow: none;
            min-width: 3px;
            min-height: 3px;
            margin: -6px;
          }
        }
      }
    }

    .volume_slider {
      color: $green;
      scale {
        trough {
          slider {
            background: none;
          }
          highlight {
            background-color: $green;
          }
        }
      }
    }

    .brightness_slider {
      color: $peach;
      scale {
        trough {
          slider {
            background: none;
          }
          highlight {
            background-color: $peach;
          }
        }
      }
    }
    
    .bluetooth {
      * {
        padding-left: 0;
        padding-right: 0;
        outline: none;
        color: $blue;
      }
      label {
        padding-top:0;
      }
      .connected {
        *{
          color: $yellow;
        }
      }
      .buttonbox {
        background-color: $base;
        border: solid 2px;
        border-radius: 0px;
        padding-top: 5px;
        > * {
          padding: 0;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }
  }
}
