.bar {
  font-family: "JetBrains Mono";
  font-weight: 600;
  background-color: #24273a;
  padding-bottom: 4px;
  padding-top: 4px; }
  .bar label {
    font-size: 14px;
    padding-top: 3px; }
  .bar button {
    min-width: 3px;
    min-height: 3px; }
  .bar .logo {
    color: #8aadf4;
    padding-left: 5px; }
  .bar .volume * {
    color: #a6da95; }
  .bar .network * {
    color: #f5bde6; }
  .bar .workspaces {
    margin-left: 5px;
    background-color: #363a4f;
    border-radius: 40px;
    padding-left: 5px;
    padding-right: 5px; }
    .bar .workspaces button {
      margin: 6px 0 6px;
      background-color: #b8c0e0;
      border-width: 1px;
      border-radius: 40px;
      padding: 3px; }
      .bar .workspaces button.occupied {
        background-color: #c6a0f6; }
      .bar .workspaces button.active {
        min-width: 10px;
        background-color: #eed49f; }
  .bar .battery * {
    color: #eed49f; }
  .bar .clock {
    color: #cad3f5; }
  .bar .media * {
    color: #c6a0f6; }
  .bar .systray button {
    padding-left: 0;
    padding-right: 4px;
    -gtk-icon-shadow: none; }
  .bar .boxed {
    /* margin-left: 5px; */
    background-color: #363a4f;
    border-radius: 40px;
    padding-left: 3px;
    padding-right: 3px; }
  .bar .brightness * {
    color: #f5a97f; }
  .bar .bluetooth {
    color: #8aadf4; }

.applauncher {
  background-color: #24273a;
  border-radius: 10px; }
  .applauncher > box {
    padding: 5px; }
  .applauncher entry {
    font-size: medium;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #181926;
    color: #cad3f5;
    border-color: #c6a0f6;
    border-width: 2px; }
    .applauncher entry:focus {
      box-shadow: none; }
  .applauncher .scrollable {
    min-height: 500px;
    min-width: 300px; }
  .applauncher scrollbar.overlay-indicator {
    opacity: 0; }
  .applauncher button {
    outline: none;
    -gtk-icon-shadow: none; }
    .applauncher button:focus {
      background-color: #363a4f; }
  .applauncher label {
    margin-left: 5px;
    font-family: "JetBrains Mono";
    font-weight: 600;
    color: #cad3f5; }

.dashboard {
  font-family: "JetBrains Mono";
  font-weight: 600;
  padding: 5px;
  border-radius: 40px;
  border: solid 2px;
  border-color: #f4dbd6;
  background-color: #24273a; }
  .dashboard label {
    padding-top: 3px; }
  .dashboard .volume_slider,
  .dashboard .brightness_slider {
    background-color: #363a4f;
    border-radius: 40px;
    padding-left: 5px;
    padding-right: 5px; }
    .dashboard .volume_slider scale,
    .dashboard .brightness_slider scale {
      min-width: 80px; }
      .dashboard .volume_slider scale trough slider,
      .dashboard .brightness_slider scale trough slider {
        border: none;
        box-shadow: none;
        min-width: 3px;
        min-height: 3px;
        margin: -6px; }
  .dashboard .volume_slider {
    color: #a6da95; }
    .dashboard .volume_slider scale trough {
      border-color: #a6da95; }
      .dashboard .volume_slider scale trough slider {
        background: #a6da95; }
  .dashboard .brightness_slider {
    color: #f5a97f; }
    .dashboard .brightness_slider scale trough {
      border-color: #f5a97f; }
      .dashboard .brightness_slider scale trough slider {
        background: #f5a97f; }
  .dashboard .bluetooth_button,
  .dashboard .bluetooth_entry {
    -gtk-icon-shadow: none;
    color: #8aadf4;
    background-color: #363a4f;
    border-radius: 40px;
    padding-left: 5px;
    padding-right: 5px; }
  .dashboard .bluetooth_entry {
    margin-top: 4px; }

button {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  text-shadow: none; }
