.bar {
  background-color: transparent;
  padding-bottom: 4px;
  padding-top: 4px;
  min-height: 4px; }
  .bar label {
    font-weight: 500;
    font-family: "Tiny5";
    font-size: 16px; }
  .bar button {
    min-height: 4px; }
  .bar icon {
    font-size: 16px; }
  .bar .logo {
    color: #b7bdf8;
    padding-left: 5px; }
  .bar .bluetooth * {
    color: #8aadf4; }
  .bar .volume * {
    color: #a6da95; }
  .bar .network * {
    color: #f5bde6; }
  .bar .workspaces {
    margin-left: 10px;
    background-color: transparent;
    border-radius: 0px;
    padding-left: 5px;
    padding-right: 5px; }
    .bar .workspaces button {
      min-width: 4px;
      margin: 6px 0 6px;
      background-color: #b7bdf8;
      border-width: 1px;
      border-radius: 0;
      padding: 3px; }
      .bar .workspaces button.occupied {
        background-color: #c6a0f6; }
      .bar .workspaces button.active {
        min-width: 10px;
        background-color: #eed49f; }
  .bar .battery * {
    color: #eed49f; }
  .bar .focused {
    padding-left: 5px;
    color: #b7bdf8; }
  .bar .clock {
    color: #b7bdf8; }
  .bar .media * {
    color: #c6a0f6; }
  .bar .systray {
    padding-left: 4px;
    padding-right: 4px; }
    .bar .systray button {
      padding: 0;
      -gtk-icon-shadow: none; }
  .bar .boxed {
    background-color: #363a4f;
    border-radius: 40px;
    padding-left: 3px;
    padding-right: 3px; }
  .bar .brightness * {
    color: #f5a97f; }

.applauncher {
  background-color: #1e2030;
  border-radius: 0;
  border: solid 2px #8389b4; }
  .applauncher > box {
    padding: 5px; }
  .applauncher label {
    padding: 5px;
    font-family: "Tiny5";
    font-size: 16px;
    font-weight: 500;
    color: #b7bdf8; }
  .applauncher entry {
    font-family: Tiny5;
    font-size: 16px;
    font-weight: 500;
    color: #b7bdf8;
    min-height: 16px;
    padding: 4px;
    margin: 5px;
    background-color: #1e2030;
    border: solid 2px #b7bdf8;
    border-radius: 0; }
    .applauncher entry:focus {
      box-shadow: none;
      background-color: #24273a; }
  .applauncher scrollbar.overlay-indicator {
    opacity: 0; }
  .applauncher .scrollable {
    min-height: 60px; }
    .applauncher .scrollable * {
      border-radius: 0;
      border-width: 2px;
      border-color: transparent; }
  .applauncher .appbutton {
    outline: none;
    -gtk-icon-shadow: none; }
    .applauncher .appbutton:focus, .applauncher .appbutton:selected {
      background-color: #8389b4; }
  .applauncher icon {
    font-size: 50px;
    min-width: 50px;
    min-height: 50px; }

.dashboard {
  background-color: transparent; }
  .dashboard .dashboard_box {
    font-family: "Tiny5";
    padding: 5px;
    border-radius: 0px;
    border: solid 2px;
    border-color: #8389b4;
    background-color: #1e2030; }
    .dashboard .dashboard_box label {
      font-weight: 500;
      font-family: "Tiny5";
      font-size: 16px; }
    .dashboard .dashboard_box icon {
      font-size: 16px; }
    .dashboard .dashboard_box .mpris * {
      padding-left: 0;
      padding-right: 0;
      outline: none;
      color: #c6a0f6; }
    .dashboard .dashboard_box .volume_slider,
    .dashboard .dashboard_box .brightness_slider {
      border-radius: 0; }
      .dashboard .dashboard_box .volume_slider scale,
      .dashboard .dashboard_box .brightness_slider scale {
        min-width: 90px; }
        .dashboard .dashboard_box .volume_slider scale trough,
        .dashboard .dashboard_box .brightness_slider scale trough {
          border-radius: 0; }
          .dashboard .dashboard_box .volume_slider scale trough slider,
          .dashboard .dashboard_box .brightness_slider scale trough slider {
            box-shadow: none;
            min-width: 3px;
            min-height: 3px;
            margin: -6px; }
    .dashboard .dashboard_box .volume_slider {
      color: #a6da95; }
      .dashboard .dashboard_box .volume_slider scale trough slider {
        background: none; }
      .dashboard .dashboard_box .volume_slider scale trough highlight {
        border-radius: 0;
        background-color: #a6da95; }
    .dashboard .dashboard_box .brightness_slider {
      color: #f5a97f; }
      .dashboard .dashboard_box .brightness_slider scale trough slider {
        background: none; }
      .dashboard .dashboard_box .brightness_slider scale trough highlight {
        border-radius: 0;
        background-color: #f5a97f; }
    .dashboard .dashboard_box .bluetooth * {
      padding-left: 0;
      padding-right: 0;
      outline: none;
      color: #8aadf4; }
    .dashboard .dashboard_box .bluetooth label {
      padding-top: 0; }
    .dashboard .dashboard_box .bluetooth .connected * {
      color: #eed49f; }
    .dashboard .dashboard_box .bluetooth .buttonbox {
      background-color: #24273a;
      border: solid 2px;
      border-radius: 0px; }
      .dashboard .dashboard_box .bluetooth .buttonbox icon {
        padding-right: 5px;
        padding-top: 5px; }
      .dashboard .dashboard_box .bluetooth .buttonbox > * {
        padding: 0;
        padding-left: 5px;
        padding-right: 5px; }

button {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  text-shadow: none; }
