@define-color crust #181926;
@define-color mantle #1e2030;
@define-color base #24273a;
@define-color surface0 #363a4f;
@define-color overlay0 #6e738d;
@define-color overlay2 #939ab7;  
@define-color text #cad3f5;
@define-color macchiato_yellow #eed49f;
@define-color mauve #cba6f7;
@define-color macchiato_green #a6da95;

.battery {
  color: @macchiato_yellow;
}


.clock {
  font-family: "JetBrains Mono";
  margin-top: 3px;
  color: @macchiato_green;
}

.workspaces > button{
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  border: none;
  text-shadow: none;
  color: @mauve;
}


.spotmedia {
  -gtk-icon-shadow: none;
  margin-top:3px;
  border: none;
  box-shadow: none;
  background-image: none;
  background-color: transparent;
  color: @mauve;
  text-shadow: none;
}

scrollbar,
scrollbar trough,
scrollbar slider,
scrollbar button {
    min-width: 0px;
    min-height: 0px;
    opacity: 0;
}

.sys_items {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  border: none;
  -gtk-icon-shadow:none;

}


.applauncher {
  background-color: @crust;
  color: @text;
  border-color: @overlay2;
}

.launcher-button {
  box-shadow: none;
  background-image: none;
  border: none;
  background-color: @mantle;
}

Box {
  background-image: none;
  background-color: transparent;
}


button:focus {
  background-color: @base;
}

.title {
  box-shadow: none;
  text-decoration: none;
  font-family: "JetBrains Mono";
  color: @text;
}

.bar {
    font-family: "JetBrains Mono";
    background-color: @base;
    color: @mauve;
}

.workspaces > button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
}

.workspaces > button:active {
    background-color: @macchiato_yellow;
}

.workspaces > button:hover {
    border-bottom: 3px solid @macchiato_yellow;
}

label {
    font-weight: bold;
}

.workspaces button.focused {
    border-bottom: 3px solid @macchiato_yellow;
}

.client-title {
    color: @text;
}

.notification {
    color: @macchiato_yellow;
}

levelbar block,
highlight {
    min-height: 10px;
}

.volume_button {
  background-image: none;
  background-color: transparent;
  color: @mauve;
  text-shadow: none;
  box-shadow: none;
  border: none;
  margin-left: 0px;
  padding-left: 3px;
  margin-right: 0px;
  padding-right: 0px;
}
