@define-color sumiInk0 #16161D;
@define-color sumiInk1 #181820;
@define-color sumiInk2 #1a1a22;
@define-color sumiInk3 #1F1F28;
@define-color sumiInk4 #2A2A37;
@define-color sumiInk5 #363646;
@define-color sumiInk6 #54546D;

@define-color oldWhite #C8C093;
@define-color fujiWhite #DCD7BA;
@define-color fujiGray #727169;

@define-color winterYellow #49443C;
@define-color roninYellow #FF9E3B;

window.bar {
    background-color: @sumiInk2;
    color: @oldWhite;
}

button {
    background-image: none;
    transition: 0.3s;
}

button:active {
    background-color: @roninYellow;
}

button:hover {
    border-bottom: 3px solid @roninYellow;
}

label {
    font-weight: bold;
}

.workspaces button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    color: @oldWhite;
    border-color: @oldWhite;
    background-color: @sumiInk4;
}

.workspaces button.focused {
    border-bottom: 3px solid @oldWhite;
}

